@use '../../tokens/index.scss' as tokens;

.button {
  background: tokens.$dark-cyan;
  border-radius: tokens.$border-radius-6;
  border: none;
  color: tokens.$white;
  cursor: pointer;
  padding: tokens.$spacing-15 tokens.$spacing-32;
  @include tokens.font(
    tokens.$font-size-18,
    tokens.$font-weight-900,
    tokens.$line-height-25,
    tokens.$font-family-fraunces-9
  );
  &:hover {
    background: tokens.$light-cyan;
  }
  &:disabled {
    background: tokens.$light-grey;
    cursor: not-allowed;
  }
}
