@use '../../tokens/index.scss' as tokens;

.plan {
  padding: 0 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: tokens.$light-cream;
  transition: all ease 0.5s;
  scroll-behavior: smooth;

  .steps {
    background: #2c343e;
    border-radius: 10px;
    width: 375px;
    height: 1028px;
    padding: 80px 24px;
    margin-bottom: 120px;
    display: flex;
    align-items: center;
    @include tokens.for-size(tablet-portrait-up) {
      width: 768px;
      height: 640px;
      padding: 70px 40px;
    }
    @include tokens.for-size(desktop-up) {
      width: 1280px;
      height: 653px;
      padding: 120px 85px;
    }
  }
  .questions {
    position: relative;
    @include tokens.for-size(desktop-up) {
      display: flex;
      min-width: 100%;
      justify-content: space-between;
    }
    &__sections {
      display: none;
      gap: 24px;
      flex-direction: column;

      @include tokens.for-size(desktop-up) {
        display: flex;
        position: sticky;
        top: 100px;
        max-height: 100px;
      }

      .section__container {
        display: flex;
        gap: 28px;
        cursor: pointer;
        color: #83888f;
        border-bottom: 1px solid #e9e5e5;
        padding-bottom: 24px;
        &:hover {
          color: #333d4b;
        }
        &:nth-child(5) {
          border: none;
        }

        @include tokens.for-size(desktop-up) {
          min-width: 255px;
        }
        .section__number {
          mix-blend-mode: normal;
          opacity: 0.5;
          cursor: pointer;
          @include tokens.font(
            tokens.$font-size-24,
            tokens.$font-weight-900,
            tokens.$line-height-32,
            tokens.$font-family-fraunces
          );
          mix-blend-mode: normal;
          opacity: 0.5;
          &.completed {
            color: #0e8784 !important;
          }
          &.selected {
            color: #333d4b;
            opacity: 1;
          }
        }
        .section__title {
          cursor: pointer;
          @include tokens.font(
            tokens.$font-size-24,
            tokens.$font-weight-900,
            tokens.$line-height-32,
            tokens.$font-family-fraunces
          );
          &.selected {
            color: #333d4b;
          }
        }
      }
    }

    &__drops {
      @include tokens.for-size(tablet-portrait-up) {
        align-self: flex-end;
        width: 730px;
      }
    }
  }
  .summary {
    width: 328px;
    height: 338px;
    background: #2c343e;
    border-radius: 10px;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    margin-bottom: 56px;
    gap: 8px;
    margin-top: 120px;
    position: relative;
    z-index: 9;

    @include tokens.for-size(tablet-portrait-up) {
      width: 689px;
      height: 208px;
      padding: 28px 44px;
    }
    @include tokens.for-size(tablet-portrait-up) {
      align-self: flex-end;
      width: 730px;
      height: 208px;
      padding: 32px 64px;
      margin-top: 84px;
    }

    &__title {
      text-transform: uppercase;
      color: #ffffff;
      mix-blend-mode: normal;
      opacity: 0.5;
      @include tokens.font(
        tokens.$font-size-16,
        tokens.$font-weight-400,
        tokens.$line-height-26,
        tokens.$font-family-barlow
      );
    }

    .summary__container {
      .summary__message {
        @include tokens.font(
          tokens.$font-size-24,
          tokens.$font-weight-900,
          tokens.$line-height-40,
          tokens.$font-family-fraunces
        );
        color: #ffffff;

        strong {
          color: #0e8784;
        }
      }
    }
  }

  .summary__button {
    @include tokens.for-size(tablet-portrait-up) {
      align-self: flex-end;
    }
    margin-top: 56px;
    margin-bottom: 120px;
  }
}
