@use '../../tokens/index.scss' as tokens;

.plan {
  padding: 0 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: tokens.$light-cream;
  transition: all ease 0.5s;
  scroll-behavior: smooth;

  .steps {
    background: #2c343e;
    border-radius: 10px;
    width: 375px;
    height: 1028px;
    padding: 80px 24px;
    margin-bottom: 120px;
    @include tokens.for-size(tablet-portrait-up) {
      width: 768px;
      height: 640px;
      padding: 70px 40px;
    }
    @include tokens.for-size(desktop-up) {
      width: 1280px;
      height: 653px;
      padding: 120px 85px;
    }
  }
  .questions {
    position: relative;
    margin-bottom: 120px;
    @include tokens.for-size(desktop-up) {
      display: flex;
      gap: 120px;
    }
    &__sections {
      display: none;
      gap: 24px;
      flex-direction: column;

      @include tokens.for-size(desktop-up) {
        display: flex;
        position: sticky;
        top: 100px;
        max-height: 100px;
      }

      .section__container {
        display: flex;
        gap: 28px;
        cursor: pointer;
        color: #83888f;
        border-bottom: 1px solid #e9e5e5;
        padding-bottom: 24px;
        &:hover {
          color: #333d4b;
        }
        &:nth-child(5) {
          border: none;
        }

        .section__number {
          mix-blend-mode: normal;
          opacity: 0.5;
          cursor: pointer;
          @include tokens.font(
            tokens.$font-size-24,
            tokens.$font-weight-900,
            tokens.$line-height-32,
            tokens.$font-family-fraunces
          );
          mix-blend-mode: normal;
          opacity: 0.5;
          &.completed {
            color: #0e8784 !important;
          }
          &.selected {
            color: #333d4b;
            opacity: 1;
          }
        }
        .section__title {
          cursor: pointer;
          @include tokens.font(
            tokens.$font-size-24,
            tokens.$font-weight-900,
            tokens.$line-height-32,
            tokens.$font-family-fraunces
          );
          &.selected {
            color: #333d4b;
          }
        }
      }
    }
    &__container {
      display: flex;
      flex-direction: column;
      gap: 18px;
      margin-bottom: 42px;
      &.open {
        margin-bottom: 100px;
      }
      &--drop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 100%;
        gap: 70px;

        .question__title {
          color: #83888f;
          max-width: 240px;
          @include tokens.font(
            tokens.$font-size-24,
            tokens.$font-weight-900,
            tokens.$line-height-28,
            tokens.$font-family-fraunces
          );
        }

        .question__arrow {
          &.open {
            transform: rotate(180deg);
            transition: all ease 0.5s;
          }
        }
      }

      &--answers {
        display: flex;
        flex-direction: column;
        gap: 24px;
        cursor: pointer;

        @include tokens.for-size(desktop-up) {
          flex-direction: row;
        }

        .question__container {
          background: #f4f1eb;
          border-radius: 8px;
          padding: 24px;
          width: 328px;
          height: 140px;
          display: flex;
          flex-direction: column;
          gap: 8px;
          cursor: pointer;
          &:hover {
            background: #fdd6ba;
          }
          @include tokens.for-size(desktop-up) {
            width: 228px;
            height: 250px;
          }
          &.selected {
            background: #0e8784;
          }

          .option__title {
            color: #333d4b;
            @include tokens.font(
              tokens.$font-size-24,
              tokens.$font-weight-900,
              tokens.$line-height-32,
              tokens.$font-family-fraunces
            );
            &.selected {
              color: #ffffff;
            }
          }
          .option__desc {
            color: #333d4b;
            @include tokens.font(
              tokens.$font-size-16,
              tokens.$font-weight-900,
              tokens.$line-height-26,
              tokens.$font-family-fraunces-9
            );
            &.selected {
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}
