@use '../../tokens/index.scss' as tokens;

.home {
  background: tokens.$light-cream;
  min-height: 100vh;
  padding: 0 tokens.$padding-spaicing-24;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;

  @include tokens.for-size(tablet-portrait-up) {
    padding: 0 tokens.$padding-spaicing-40;
  }

  @include tokens.for-size(desktop-up) {
    padding: 0 tokens.$padding-spaicing-80;
  }

  .hero {
    align-items: center;
    background-image: url('../../assets/home/mobile/image-hero-coffeepress.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: tokens.$spacing-24;
    height: 500px;
    justify-content: center;
    padding: tokens.$padding-spaicing-24;
    width: 327px;

    @include tokens.for-size(tablet-portrait-up) {
      background-image: url('../../assets/home/tablet/image-hero-coffeepress.jpg');
      width: 689px;
      height: 500px;
      align-items: flex-start;
      padding: tokens.$padding-spaicing-56;
    }

    @include tokens.for-size(desktop-up) {
      background-image: url('../../assets/home/desktop/image-hero-coffeepress.jpg');
      width: 1280px;
      height: 600px;
      align-items: flex-start;
      padding: tokens.$padding-spaicing-84;
    }

    &__title {
      color: tokens.$light-cream;
      text-align: center;
      @include tokens.font(
        tokens.$font-size-40,
        tokens.$font-weight-900,
        tokens.$line-height-40,
        tokens.$font-family-fraunces-9
      );

      @include tokens.for-size(tablet-portrait-up) {
        text-align: start;
        max-width: 329px;
        font-size: tokens.$font-size-48;
        line-height: tokens.$line-height-48;
      }

      @include tokens.for-size(desktop-up) {
        max-width: 493px;
        font-size: tokens.$font-size-72;
        line-height: tokens.$line-height-72;
      }
    }
    &__subtitle {
      color: tokens.$light-cream;
      margin-bottom: 15px;
      mix-blend-mode: normal;
      opacity: 0.8;
      text-align: center;
      @include tokens.font(
        tokens.$font-size-15,
        tokens.$font-weight-400,
        tokens.$line-height-25,
        tokens.$font-family-barlow
      );

      @include tokens.for-size(tablet-portrait-up) {
        text-align: start;
        max-width: 398px;
      }

      @include tokens.for-size(desktop-up) {
        max-width: 493px;
        font-size: tokens.$font-size-16;
        line-height: tokens.$line-height-26;
      }
    }
  }
  .collection {
    margin-top: 120px;
    margin-bottom: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: tokens.$spacing-15;
    padding: 0 tokens.$padding-spaicing-24;

    @include tokens.for-size(tablet-portrait-up) {
      position: relative;
      margin-top: 200px;
      margin-bottom: 144px;
    }

    @include tokens.for-size(desktop-up) {
      margin-top: 242px;
      margin-bottom: 200px;
    }

    &__title {
      text-align: center;
      color: tokens.$grey;
      @include tokens.font(
        tokens.$font-size-40,
        tokens.$font-weight-900,
        tokens.$line-height-72,
        tokens.$font-family-fraunces-9
      );
      &::before {
        background: linear-gradient(
          180deg,
          rgba(254, 252, 247, 0.0001) 0%,
          tokens.$light-cream 100%
        );
        width: 325px;
        height: 72px;
        position: absolute;
        content: '';

        @include tokens.for-size(tablet-portrait-up) {
          width: 686px;
          height: 72px;
        }

        @include tokens.for-size(desktop-up) {
          height: 196px;
          width: 1111px;
          left: 0;
          top: 0;
          background: linear-gradient(
            180deg,
            rgba(254, 252, 247, 0.0001) 0%,
            tokens.$light-cream 100%
          );
        }
      }

      @include tokens.for-size(tablet-portrait-up) {
        position: absolute;
        font-size: tokens.$font-size-96;
        line-height: tokens.$line-height-72;
        left: -52px;
        right: 0;
        margin: auto;
        top: -48px;
        width: 660px;
        height: 196px;
      }

      @include tokens.for-size(desktop-up) {
        font-size: tokens.$font-size-150;
        min-width: 1111px;
        mix-blend-mode: normal;
        opacity: 0.5;
        top: -72px;
      }
    }
    &__grid {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: tokens.$spacing-48;

      @include tokens.for-size(desktop-up) {
        flex-direction: row;
        gap: tokens.$spacing-32;
      }

      .collection__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: tokens.$spacing-24;

        @include tokens.for-size(tablet-portrait-up) {
          flex-direction: row;
        }

        @include tokens.for-size(desktop-up) {
          flex-direction: column;
          gap: tokens.$spacing-72;
          max-width: 255px;
        }

        &--img {
          width: 200px;
          height: 151px;
          object-fit: cover;
        }
        .collection__info {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: tokens.$spacing-16;

          @include tokens.for-size(desktop-up) {
            gap: tokens.$spacing-24;
          }
          .collection__item--title {
            text-align: center;
            color: tokens.$dark-grey-blue;
            @include tokens.font(
              tokens.$font-size-24,
              tokens.$font-weight-900,
              tokens.$line-height-32,
              tokens.$font-family-fraunces-9
            );
          }
          .collection__item--desc {
            text-align: center;
            color: tokens.$dark-grey-blue;
            max-width: 282px;
            @include tokens.font(
              tokens.$font-size-15,
              tokens.$font-weight-400,
              tokens.$line-height-25,
              tokens.$font-family-barlow
            );
          }
        }
      }
    }
  }
  .features {
    padding: 0 tokens.$padding-spaicing-24;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 120px;
    min-height: 1499px;

    @include tokens.for-size(tablet-portrait-up) {
      min-height: 863px;
      padding: 0 40px;
    }

    @include tokens.for-size(desktop-up) {
      min-height: 768px;
      padding: 0 80px;
    }

    &__container {
      width: 327px;
      height: 902px;
      background: #2c343e;
      border-radius: tokens.$border-radius-10;
      padding: tokens.$padding-spaicing-64 tokens.$padding-spaicing-24;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      position: relative;
      @include tokens.for-size(tablet-portrait-up) {
        width: 688px;
        height: 573px;
      }
      @include tokens.for-size(desktop-up) {
        width: 1280px;
        height: 577px;
      }
      &--info {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 24px;
        .title {
          text-align: center;
          color: tokens.$light-cream;
          @include tokens.font(
            tokens.$font-size-28,
            tokens.$font-weight-900,
            tokens.$line-height-28,
            tokens.$font-family-fraunces-9
          );
          @include tokens.for-size(tablet-portrait-up) {
            font-size: tokens.$font-size-32;
            line-height: tokens.$line-height-48;
          }
          @include tokens.for-size(desktop-up) {
            font-size: tokens.$font-size-40;
          }
        }
        .subtitle {
          color: tokens.$light-cream;
          mix-blend-mode: normal;
          opacity: 0.8;
          text-align: center;
          @include tokens.font(
            tokens.$font-size-15,
            tokens.$font-weight-400,
            tokens.$line-height-25,
            tokens.$font-family-barlow
          );
          @include tokens.for-size(tablet-portrait-up) {
            max-width: 540px;
          }
        }
      }
      &--grid {
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: tokens.$spacing-24;
        top: 305px;
        @include tokens.for-size(tablet-portrait-up) {
          top: 275px;
        }
        @include tokens.for-size(desktop-up) {
          top: 346px;
          flex-direction: row;
        }

        .feature__wrapper {
          background: tokens.$dark-cyan;
          border-radius: tokens.$border-radius-8;
          width: 279px;
          height: 382px;
          padding: tokens.$padding-spaicing-12;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: tokens.$spacing-56;
          @include tokens.for-size(tablet-portrait-up) {
            width: 573px;
            height: 180px;
            flex-direction: row;
            padding: tokens.$padding-spaicing-42 tokens.$padding-spaicing-48
              tokens.$padding-spaicing-42 70px;
          }
          @include tokens.for-size(desktop-up) {
            width: 350px;
            height: 382px;
            flex-direction: column;
            padding: tokens.$padding-spaicing-48;
          }
          img {
            width: 72px;
            height: 72px;
            object-fit: cover;
            @include tokens.for-size(tablet-portrait-up) {
              width: 55px;
              height: 55px;
            }
            @include tokens.for-size(desktop-up) {
              width: 72px;
              height: 72px;
            }
          }
          .feature__info {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: tokens.$spacing-24;
            @include tokens.for-size(tablet-portrait-up) {
              align-items: flex-start;
            }
            @include tokens.for-size(desktop-up) {
              align-items: center;
            }
            .title {
              text-align: center;
              color: tokens.$light-cream;
              @include tokens.font(
                tokens.$font-size-24,
                tokens.$font-weight-900,
                tokens.$line-height-32,
                tokens.$font-family-fraunces-9
              );
              @include tokens.for-size(tablet-portrait-up) {
                text-align: start;
              }
              @include tokens.for-size(desktop-up) {
                text-align: center;
              }
            }
            .subtitle {
              text-align: center;
              color: tokens.$light-cream;
              @include tokens.font(
                tokens.$font-size-16,
                tokens.$font-weight-400,
                tokens.$line-height-26,
                tokens.$font-family-barlow
              );
              @include tokens.for-size(tablet-portrait-up) {
                text-align: start;
              }
              @include tokens.for-size(desktop-up) {
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
  .works {
    padding: 0 tokens.$padding-spaicing-24;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    margin-bottom: 120px;

    @include tokens.for-size(tablet-portrait-up) {
      padding: 0 tokens.$padding-spaicing-40;
      align-items: flex-start;
    }
    @include tokens.for-size(desktop-up) {
      padding: 0 tokens.$padding-spaicing-164;
    }

    &__title {
      @include tokens.for-size(tablet-portrait-up) {
        align-self: flex-start;
      }
      .title {
        text-align: center;
        color: #83888f;
        @include tokens.font(
          tokens.$font-size-24,
          tokens.$font-weight-900,
          tokens.$line-height-32,
          tokens.$font-family-fraunces-9
        );
        @include tokens.for-size(tablet-portrait-up) {
          text-align: start;
        }
      }
    }
    //

    //
  }
}
