@use '../../tokens/index.scss' as tokens;

.header {
  background: tokens.$light-cream;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: tokens.$padding-spaicing-32 0;
  width: 327px;
  position: relative;

  @include tokens.for-size(tablet-portrait-up) {
    padding: tokens.$padding-spaicing-46 0;
    width: 689px;
  }
  @include tokens.for-size(desktop-up) {
    padding: tokens.$padding-spaicing-50 0;
    width: 1280px;
  }

  &__logo {
    img {
      width: 163px;
      height: 18px;
      object-fit: contain;
      @include tokens.for-size(tablet-portrait-up) {
        width: 236px;
        height: 26px;
      }
    }
  }
  &__menu {
    &--desktop {
      display: none;
    }
    @include tokens.for-size(tablet-portrait-up) {
      display: none;
      &--desktop {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
        span {
          letter-spacing: 0.923077px;
          text-transform: uppercase;
          color: tokens.$grey;
          cursor: pointer;
          @include tokens.font(
            tokens.$font-size-12,
            tokens.$font-weight-700,
            tokens.$line-height-15,
            tokens.$font-family-barlow
          );
          &:hover {
            color: #333d4b;
          }
        }
      }
    }

    img {
      width: 16px;
      height: 15px;
      object-fit: contain;
      cursor: pointer;
    }
  }
}
