@use '../../tokens/index.scss' as tokens;

.footer {
  width: 327px;
  height: 346px;
  background: #2c343e;
  margin-bottom: tokens.$spacing-72;
  padding: tokens.$padding-spaicing-56;
  display: flex;
  flex-direction: column;
  gap: tokens.$spacing-48;

  @include tokens.for-size(tablet-portrait-up) {
    width: 688px;
    height: 270px;
    align-items: center;
    gap: tokens.$spacing-32;
  }

  @include tokens.for-size(desktop-up) {
    flex-direction: row;
    width: 1280px;
    height: 120px;
    justify-content: space-between;
    padding: tokens.$padding-spaicing-48 tokens.$padding-spaicing-84;
    margin-bottom: tokens.$padding-spaicing-80;
  }
  &__navigation {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: tokens.$spacing-24;
    @include tokens.for-size(tablet-portrait-up) {
      flex-direction: row;
    }
    span {
      letter-spacing: 0.923077px;
      text-transform: uppercase;
      color: tokens.$grey;
      @include tokens.font(
        tokens.$font-size-12,
        tokens.$font-weight-700,
        tokens.$line-height-15,
        tokens.$font-family-barlow
      );
    }
  }
  &__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: tokens.$spacing-24;
    svg,
    path {
      cursor: pointer;
      &:hover {
        fill: tokens.$pale-orange;
      }
    }
  }
}
