@use '../tokens/index.scss';

html {
    scroll-behavior: smooth;
  }
  
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fefcf7;
    scroll-behavior: smooth;
    transition: all ease .5s;
}